<div layout="column" layout-align="center center">
    <h1 class="md-display-2">Tryb nauki!</h1>

    <div layout>
        <!--<div flex="10" layout layout-align="center center">
            <span class="md-body-1">Ilość słówek:</span>
        </div>
        <md-slider flex md-discrete ng-model="color.red" id="red-slider" step="1" min="5" max="40" aria-label="rating">
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
        </div>-->
    </div>
    <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" href="#/learn?f=0">Pierwsze -> Drugie</md-button>

        <md-button class="md-raised md-primary" href="#/learn?f=1">Drugie -> Pierwsze</md-button>
    </div>
</div>